<mat-grid-list cols="10" rowHeight="30px" gutterSize="3px">
  <mat-grid-tile
    *ngFor="let number of numbers"
    [ngClass]="{ highlight: highlightedNumbers.has(number) }"
  >
    {{ number }}
  </mat-grid-tile>
</mat-grid-list>

<div class="random-number-container">
  <h2 *ngIf="!isRandomizing">Random Number: {{ randomNumber }}</h2>
  <mat-spinner *ngIf="isRandomizing" diameter="20"></mat-spinner>
  <button
    mat-raised-button
    color="primary"
    (click)="generateRandomNumber()"
    [disabled]="isButtonDisabled"
  >
    Generate Random Number
  </button>
</div>

<div class="prizes-list" [formGroup]="prizeForm">
  <h3>Prizes:</h3>
  <mat-checkbox formControlName="firstLine">1st Line</mat-checkbox>
  <mat-checkbox formControlName="secondLine">2nd Line</mat-checkbox>
  <mat-checkbox formControlName="thirdLine">3rd Line</mat-checkbox>
  <mat-checkbox formControlName="corners">Corners</mat-checkbox>
  <mat-checkbox formControlName="firstFullHouse">1st Full House</mat-checkbox>
  <mat-checkbox formControlName="secondFullHouse">2nd Full House</mat-checkbox>
  <mat-checkbox formControlName="thirdFullHouse">3rd Full House</mat-checkbox>
</div>
